.drawer {
  position: fixed;
  top: 11%;
  right: -51%;
  width: 50%;
  bottom: 1%;
  background-color: #f4f4f4;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.drawer.open {
  right: 0;
}

.drawer-content {
  padding: 10px;
}
