/* Tùy chỉnh thanh cuộn */
.scrollbar-thin::-webkit-scrollbar {
  width: 7px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: background-color 0.3s, width 0.3s;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px;
}

/* Khi hover vào thanh cuộn */
.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Khi kéo thanh cuộn */
.scrollbar-thin::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.7);
}

/* .scrollbar-thin::-webkit-scrollbar-button {
  display: block;
  width: 7px;
  height: 7px;
  background-color: rgba(0, 0, 0, 0.3);
} */
